
/* A retirer */

:root {
	--border-color: #DFDFDF;
}

body {
	background: white !important;
}

div.buttons {
	display: none;
}

button {
	display: none;
}

/* A retirer */

div.main {
	padding: 20px 40px;
	position: relative;
	z-index: 1;
}

.food-category {
	display: flex;
	justify-content: space-between;
}

.food-category .card {
	box-shadow: 0px 0px 2px #AFAFAF;
	width: max-content;
	border-radius: 8px;
	cursor: pointer;
}

.food-category .card img {
	width: 180px;
	height: 160px;
}

.food-category .card span {
	display: block;
	text-align: center;
	font-size: 1.5em;
	padding: 6px 0px;
}


/* food list */

div.selected-foods {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 40px;
	padding-top: 40px 10px;
}

div.selected-foods div.food {
	width: max-content;
	border: 1px solid var(--border-color);
	padding: 20px;
	border-radius: 14px;
	transition: all linear 250ms;
	margin: 14px 30px;
}

div.selected-foods div.food:hover {
	cursor: pointer;
	transform: scale(1.08) rotate(5deg);
	box-shadow: 8px 8px 16px #DFDFDF;
}

div.selected-foods div.food img {
	height: 240px;
	border-radius: 100px;
	box-shadow: 4px 4px 6px var(--border-color);
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

div.selected-foods div.food span {
	display: block;
	font-size: 1.6em;
	padding: 4px;
	text-align: center;
}


/* Modal Show More */


.modal-show-more {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.6);
	z-index: -1;
	opacity: 0;
	transition: all linear 300ms;
}

div.modal-show-more div.modal-content {
	width: 80%;
	height: 100vh;
	background: black;
	color: white;
	margin: auto;
}